YOUTUBE_API_KEY=
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_DEV_GUILD_ID=
DATABASE_USER=
DATABASE_PASSWORD=
SAMPLE_VIDEO_URL="https://www.youtube.com/watch?v=1RKqOmSkGgM"
SAMPLE_VIDEO_TITLE="Chappell Roan - Good Luck, Babe! (Official Lyric Video)"
YOUTUBE_FETCH_INTERVAL = 60000